/**************************/
/* BELOW 1360px (Smaller Desktops) */
/**************************/

/* 85em = 85 * 16 => 1360px */
@media (max-width: 85em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/**************************/
/* BELOW 1360px (Landscape Tablets) */
/**************************/

/* 1200px / 16px => 75em */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .princing-plan--complete {
    padding: 3.2rem;
  }
}

/**************************/
/* BELOW 976px (Tablets) */
/**************************/

@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  /* .main-nav-list {
    gap: 3.2rem;
  } */

  .section-hero {
    text-align: center;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    height: 2.8rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .delivered-meals {
    justify-content: center;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .princing-plan--starter {
    padding: 3.2rem;
  }

  .grid--3-cols {
    gap: 3.2rem;
  }

  .cta {
    grid-template-columns: 0.55fr 0.45fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.4rem;
  }

  .list-item {
    line-height: 1.4;
  }

  .grid--4-cols {
    gap: 4.8rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(0.5rem);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    /* No transition allowed at all */
    /* display: none; */

    /* To allowed transition  */
    opacity: 0;

    /* Hide from the mouse and key events */
    pointer-events: none;

    /* Hide from the screen reader */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
    /* overflow-y: hidden; */
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
}

/**************************/
/* BELOW 768px (smaller Tablets) */
/**************************/

@media (max-width: 48em) {
  .princing-plan {
    width: 100%;
  }

  .logos img {
    height: 2.4rem;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
  }

  .logo-col {
    grid-row: 3;
    grid-column: span 2;
    justify-content: center;
  }

  .address-col {
    width: 70%;
  }
}

/**************************/
/* BELOW 704px (Smaller Tablets) */
/**************************/
@media (max-width: 44em) {
  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  /* .grid--footer {
    grid-template-columns: repeat(3, 1fr);
  } */

  .logo-col {
    /* grid-row: 3;
    grid-column: span 2; */
    justify-content: center;
  }

  .diets {
    grid-column: span 2;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 1.8rem;
  }

  .grid--2-cols {
    gap: 2.2rem;
  }
}

/**************************/
/* BELOW 544px (Mobiles) */
/**************************/
@media (max-width: 34em) {
  .logos img {
    height: 1.2rem;
  }

  .section-pricing,
  .section-hero,
  .section-cta,
  .footer {
    padding: 4.8rem 0;
  }

  .grid--2-cols,
  .grid--4-cols,
  .testimonials {
    grid-template-columns: 1fr;
    gap: 4.2rem;
  }

  .grid {
    /* justify-items: center; */
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
  }

  .logo-col {
    grid-row: 3;
    grid-column: span 2;
  }

  .address-col {
    /* grid-row: 5; */
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.1rem);
  }

  .section-how {
    padding: 0;
  }

  .meals--display {
    display: block;
  }

  .meal {
    margin-bottom: 4.4rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 2.4rem;
  }

  .cta-img-box {
    height: 46rem;
    grid-row: 1;
  }

  .btn--full {
    margin-bottom: 1rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.4rem 3rem;
  }
}

/* Below 360px (small mobile screens */

@media (max-width: 22.5em) {
  .grid--footer {
    row-gap: 5.8rem;
  }
}
